/* #canvas {
    position: absolute;
    border: 1px solid black;
}
#canvas\.breadcrumb {
    position: absolute;
    font-size: medium;
    border: 1px solid black;
}
#canvas\.workspace\.network {
    position: absolute;
    border: 1px solid black;
    background-color: #333333;
}
#canvas\.workspace\.text_area\.editor {
    position: absolute;
    font-size: large;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
#canvas\.workspace\.text_area\.preview {
    position: absolute;
    font-size: large;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
#canvas\.cli {
    position: absolute;
    font-size: medium;
    border: 1px solid black;
}

.div_cli_popup {
  position: absolute;
	width: 100%;
    display: inline-block;
}

.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 3px 0;
  position: absolute;
  top: 87.5%;
}
.popup .show {
  visibility: visible;
} */

th {
  background-color: black;
  color: white;
}

td, th {
  border: 1px solid white;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #444444;
}
